#paste-bin-toolbar-button {
    list-style-image:url("chrome://pastebin/skin/19.png");
}
#pastebin-panel {
color:#333;
background:url(chrome://pastebin/skin/bg.jpg);
}

#paste-bin-submit-button {
    vertical-align:top;
    padding:0px;
    margin:0px;
    width:96px;
    height:32px;
    background:url("chrome://pastebin/skin/sprite_png_v2.png") 0 -13px no-repeat;
}

#paste-bin-submit-button:hover {
    background:url("chrome://pastebin/skin/sprite_png_v2.png") 0 -46px no-repeat;
    cursor:pointer;
}

#pastebin-panel {
    padding:20px;
    width:630px;
    height:440px;
}

#title {
    background-color:#EBEBEB;
    border:1px solid #CCC;
    margin:0px;
    margin-bottom:10px;
    padding:0px 10px;
    height:20px;
    width:100%;
    font-size:14px;
}

#paste-code {
    background-color:#F9F9F9;
    border:1px solid #CCC;
    height:200px;
    width:100%;
    margin:0px;
    color:#181818;
    font-family:monospace;
    font-weight:normal;
    font-size:14px;
}

.footer {
    background-color:#EBEBEB;
    border:1px solid #CCC;
    margin-top:15px;
    font-size:14px;
}

.italic { font-style:italic; }
.option { font-size:14px; }
.rows { padding: 10px 0px; }
.optionsxul-label { padding:5px 0px; }
.panel2 { margin-left:40px; }

#errorBox { display:none; }
#loadingBox { display:none; }
#outputBox { display:none; }
